/* .linkLike{
 
} */
.hide{
    display: none;
  }

.newMovies{
  overflow-y:hidden
}
.eachMovie{
  margin-left: 10px;
  margin-right: 10px;
  height: 15rem ;
  width: 20rem;
  /* border-style: double;
  display: none; */
  
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  /* background-color: white; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
 

h1{
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
p{
  color: aliceblue;
}
img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}


